* {
  box-sizing: border-box;
}

html, body {
  /* creating inconsistent bg color on different pages */
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom left, whitesmoke, slategray);
  background-size: contain;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

nav {
  width: 5rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  margin: 5rem 0 3rem;
}

#title-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

#title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.nav-link {
  width:inherit;
  padding: 10px;
  margin: 5px;
  background-color: midnightblue;
  border: 2px solid black;
  color: mintcream;
  text-align: center;
}

.nav-link:hover {
  background-color: azure;
  color: royalblue;
  border-color: royalblue;
}

#tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 10px;
  gap: 0.5rem;
}

.tag {
  border: 1px solid black;
  background-color: aquamarine;
  width: max-content;
  padding: 1px 5px;
  margin: 0;
}

#tag-div > form {
  margin-top: 5px;
}

#tag-div > form > button {
  background-color: crimson;
  border: 1px solid transparent;
  border-radius: 40%;
  color: white;
}

#tag-div > form > button:hover {
  background-color: white;
  border: 1px solid crimson;
  color: crimson;
}

.tag:hover > form {
  visibility: visible;
}

#add-tag {
  margin-bottom: 10px;
}

.user-img {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  border-radius: 50%;
}

.review-list {
  margin: 5rem 5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-self: center;
}

#no-reviews {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
}

#no-profile-reviews {
  grid-column-start: 2;
  grid-column-end: 3;
}

.review {
  position: relative;
  /* display: inline; */
  width: 20rem;
  height: 15rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
  overflow-y: auto;
}

#review-content {
  margin: 20px 8px;
  text-align: left;
}

#game-list {
  margin: 10rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-self: center;
}

#title-link {
  color: black;
}

#title-link:hover {
  color: darkblue;
  text-decoration: underline;
}

.game {
  width: 15rem;
  height: 19rem;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
  overflow-y: auto;
}

#rev-post {
  width: max-content;
  padding: 10px 15px;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 8%;
  color: ghostwhite;
}

#rev-post:hover {
  background-color: aliceblue;
  border-color: cornflowerblue;
  color: cornflowerblue;
}

#profile-content {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 8rem;
}

#profile-reviews {
  width: max-content;
}

#profile-review-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#favorite-games {
  width: max-content;
  display: block;
}

#profile-game-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#edit-text {
  margin: 10px 8px;
  outline: none;
  resize: none;
  max-height: 10rem;
}

#delete-review-btn {
  background-color: mediumvioletred;
  border: 1px solid black;
  color: white;
  margin: 2px;
}

#delete-review-btn:hover {
  background-color: white;
  border: 1px solid mediumvioletred;
  color: mediumvioletred;
}

#edit-review-btn {
  background-color: skyblue;
  border: 1px solid black;
  color: black;
  margin: 5px 0 2px;
}

#edit-review-btn:hover {
  background-color: white;
  border: 1px solid skyblue;
  color: skyblue;
}

#save-review-btn {
  background-color: mediumspringgreen;
  border: 1px solid black;
  color: black;
  margin: 2px 0 5px;
}

#save-review-btn:hover {
  background-color: white;
  border: 1px solid mediumspringgreen;
  color: mediumspringgreen;
}

@media only screen and (max-width: 1700px) {
  #profile-reviews{
    margin: 5rem auto;
    left: auto;
  }

  .review-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1550px) {
  #game-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1375px) {
  #game-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .review-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1075px) {
  #game-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .review-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  #game-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  #game-list {
    grid-template-columns: 1fr;
  }
}

/* .review p:first-of-type {
  vertical-align: middle;
} */

/* #rev-form {
  height: 30vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 3fr 2fr 1fr;
}

#rev-text {
  width: 15vmin;
  height: 10vmin;
} */