@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  /* creating inconsistent bg color on different pages */
  height: 100%;
  width: 100%;
  margin: 0;
}


body {
  padding: 50px;
  font: 14px "Inconsolata", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom left, whitesmoke, slategray);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

nav {
  width: 5rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  margin: 2rem 0 5vmin;
  padding: 20px;
  text-align: center;
}

#fave-icon {
  width: 1rem;
}

#fave-button, #unfave-button {
  background-color: transparent;
  border: none;
  margin-left: 3px;
}

#fave-button:hover {
  border-radius: 50%;
  background-color: gold;
}

#unfave-button:hover {
  border-radius: 50%;
  background-color: darkred;
}

#title-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

#title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.nav-link {
  width:inherit;
  padding: 10px;
  margin: 5px;
  background-color: midnightblue;
  border: 2px solid black;
  color: mintcream;
  text-align: center;
}

.nav-link:hover {
  background-color: azure;
  color: royalblue;
  border-color: royalblue;
}

#new-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1.5rem 1.5rem;
  gap: 2rem;
  margin: 3rem;
  padding: 1rem;
  max-width: 50rem;
  width: 50vmax;
  min-width: 10vmin;
  align-self: center;
  border: 8px solid black;
  border-radius: 8%;
  background-color:lavender;
}

#rev-text {
  height: 20rem;
  resize: none;
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 3;
  place-self: stretch;
  padding: 10px;
  margin: 10px;
  border-radius: 5%;
}

#rev-game {
  width: 8rem;
  height: 1.5rem;
  align-self: center;
  justify-self: center;
  border: 2px solid black;
  background-color: paleturquoise;
  cursor: context-menu;
}

#rev-game:hover {
  border-color: blueviolet;
  background-color: whitesmoke;
}

#rev-rating {
  text-align: center;
  width: 3rem;
  height: 1.5rem;
  align-self: center;
  justify-self: center;
  border: 2px solid black;
  background-color: paleturquoise;
  cursor: context-menu;
}

#rev-rating:hover {
  border-color: blueviolet;
  background-color: whitesmoke;
}

#new-rev-btn {
  width: 8rem;
  align-self: center;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  border: 2px solid black;
  background-color: lightgreen;
  color: black;
  border-radius: 5%;
}

#new-rev-btn:hover {
  border-color: seagreen;
  background-color: ghostwhite;
  cursor: pointer;
}

#tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 10px;
  gap: 0.5rem;
}

.tag {
  border: 1px solid black;
  background-color: aquamarine;
  width: max-content;
  padding: 1px 5px;
  margin: 0;
}

#tag-div > form {
  margin-top: 5px;
}

#tag-div > form > button {
  background-color: crimson;
  border: 1px solid transparent;
  border-radius: 40%;
  color: white;
}

#tag-div > form > button:hover {
  background-color: white;
  border: 1px solid crimson;
  color: crimson;
}

.tag:hover > form {
  visibility: visible;
}

#add-tag {
  margin-bottom: 10px;
}

#add-tag > select {
  padding: 2px;
  background-color: slategray;
  color: white;
  border: 2px solid black;
}

#add-tag > select:hover {
  background-color: lime;
  color: black;
}

#add-tag > button {
  font-size: larger;
  color: white;
  background-color: slategray;
  border: 1px solid black;
  border-radius: 50%;
  height: fit-content;
}

#add-tag > button:hover {
  background-color: lime;
  color: black;
}

#game-page-link {
  color: black;
}

#game-page-link:hover {
  color: midnightblue;
  text-decoration: underline;
}

.user-img {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.review-list {
  margin: 5rem 5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-self: center;
}

#no-reviews {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
}

#no-profile-reviews {
  grid-column-start: 1;
  grid-column-end: end;
}

.review {
  position: relative;
  font-size: 16px;
  width: 20rem;
  height: 17rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
  overflow-y: auto;
  scrollbar-width: thin;
}

#user {
  display: flex;
  justify-content: center;
  align-items: center;
}

#review-content {
  margin: 20px 8px;
  text-align: left;
}

#game-list {
  margin: 10rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-self: center;
}

#title-link {
  color: black;
}

#title-link:hover {
  color: darkblue;
  text-decoration: underline;
}

.game {
  width: 15rem;
  height: 19rem;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
  overflow-y: auto;
  scrollbar-width: thin;
}

#game-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-title > * {
  width: max-content;
}

#rev-post {
  width: max-content;
  padding: 10px 15px;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 8%;
  color: ghostwhite;
}

#rev-post:hover {
  background-color: aliceblue;
  border-color: cornflowerblue;
  color: cornflowerblue;
}

#profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 8rem;
}

#profile-reviews {
  width: max-content;
  min-width: 25rem;
  justify-self: center;
}

#profile-review-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#favorite-games {
  width: max-content;
  display: block;
  min-width: 28rem;
  justify-self: center;
}

#profile-game-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#edit-text {
  margin: 10px 8px;
  border: 2px solid black;
  border-radius: 5%;
  padding: 5px;
  outline: none;
  resize: none;
  max-height: 12rem;
  scrollbar-width: thin;
}

#delete-review-btn {
  background-color: mediumvioletred;
  border: 1px solid black;
  color: white;
  margin: 2px;
}

#delete-review-btn:hover {
  background-color: white;
  border: 1px solid mediumvioletred;
  color: mediumvioletred;
}

#edit-review-btn {
  background-color: skyblue;
  border: 1px solid black;
  color: black;
  margin: 5px 0 8px;
}

#edit-review-btn:hover {
  background-color: white;
  border: 1px solid skyblue;
  color: skyblue;
}

#save-review-btn {
  background-color: mediumspringgreen;
  border: 1px solid black;
  color: black;
  margin: 2px 0 8px;
}

#save-review-btn:hover {
  background-color: white;
  border: 1px solid mediumspringgreen;
  color: mediumspringgreen;
}

@media only screen and (max-width: 2150px) {
  #profile-game-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1900px) {
  #profile-game-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1650px) {
  #profile-review-list{
    grid-template-columns: 1fr 1fr;
  }

  .review-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1550px) {
  #game-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1375px) {
  #profile-content {
    gap: 2.5rem;
  }

  #game-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .review-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1260px) {
  #profile-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  #profile-reviews {
    height: max-content;
  }
}

@media only screen and (max-width: 1075px) {
  #game-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .review-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  #game-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  #game-list {
    grid-template-columns: 1fr;
  }
}