* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

nav {
  position: absolute;
  right: 3rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  margin-top: 5rem;
}

#date {
  display: inline;
}

#date-picker > div:first-of-type {
  position: relative;
  margin: 0 auto 1rem;
  width: 9.4rem;
}

#date-picker > div:first-of-type > a:first-of-type {
  position: absolute;
  left: 0;
}

#date-picker > div:first-of-type > a:last-of-type {
  position: absolute;
  right: 0;
}

.date-arrows {
  color: green;
  text-decoration: none;
}

#calendar {
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(7, auto);
  /* grid-template-rows: repeat(1fr 7); */
  gap: 1vmin;
}

#calendar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 2px solid black;
}

#calendar > div:nth-child(n+1):nth-child(-n+7) {
  background-color: black;
  color: white;
}

.user-img {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  border-radius: 50%;
}

#review-list {
  margin: 5rem 5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6 1fr);
  gap: 1rem;
}

.review {
  display: inline;
  width: 15rem;
  height: 13rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
}

#game-list {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;

}

.game {
  width: 15rem;
  height: 18rem;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 5%;
  background-color: aliceblue;
}

/* .review p:first-of-type {
  vertical-align: middle;
} */

/* #rev-form {
  height: 30vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 3fr 2fr 1fr;
}

#rev-text {
  width: 15vmin;
  height: 10vmin;
} */